$primary_yellow: #FFE600;
$primary_light_yellow: #FCEC5E;
$primary_gray: #d4d4d4;
$primary_dark_gray: #272727;
$primary_light_gray: #D6D6D6;
$primary_red: #C33232;
$primary_light_red: #FF6868;
$primary_error_red: #f72929;